.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
nixpacks.toml
Dockerfile
.dockerignore
README.md
